
<nav class=" bg-[#2a5744] text-white dark:text-gray-900 font-protest shadow-black">
    <div class="container mx-auto flex items-center justify-between p-4">
      <div class="text-lg font-bold flex">
        <img routerLink="/test" src="assets/logo.png" alt="army"  class="h-16 w-16 mr-4 transition-transform transform hover:scale-105">
        <div class="p-auto m-auto text-4xl ">
          Join Indian Army
        </div>
          
        </div>
      <div class="hidden md:flex space-x-6 text-2xl transition-transform transform hover:scale-105">
        <a *ngIf="isCandidate" routerLink="/application" class="hover:text-gray-300 transform hover:scale-110 hover:translate-y-[-4px] transition-all duration-400">Applications</a>
        <a routerLink="/home" class="hover:text-gray-300 transform hover:scale-110 hover:translate-y-[-4px] transition-all duration-400">Vacancies</a>
        
      </div>
      <div class="md:flex space-x-6 text-2xl">
        <div class="hidden md:flex space-x-6 text-2xl transition-transform transform hover:scale-105">
          <ng-container *ngIf="isloggedIn; else loggedOut">
            <!-- Profile and Logout SVG Icons -->
            <div class="flex space-x-4">
              <!-- Profile Icon -->
              <a routerLink="/profile" class="mt-2 hover:text-gray-300 text-white dark:text-gray-800  transform hover:scale-110 transition-all duration-400">
                <img src="assets/profile.png" alt="Proflie" class="h-8 w-8">
              </a>
              <!-- Logout Icon -->
              <button (click)="logout()" class="hover:text-gray-300 text-white dark:text-gray-800  transform hover:scale-110 transition-all duration-400">
                Logout
              </button>
            </div>
          </ng-container>
        
          <ng-template #loggedOut>
            <!-- Login and Signup options if not logged in -->
            <a routerLink="/login" class="mt-1 hover:text-gray-300 transform hover:scale-110 hover:translate-y-[-4px] transition-all duration-400">Login</a>
            <a routerLink="/signup" class="mt-1 hover:text-gray-300 transform hover:scale-110 hover:translate-y-[-4px] transition-all duration-400">Signup</a>
          </ng-template>
        </div>
        
        
        <div class="">
          <button (click)="toggleTheme()" 
            class="h-12 w-12 rounded-lg p-2">
            <svg class="fill-black-700 hover:fill-gray-900 block dark:hidden mb-1" fill="currentColor" viewBox="0 0 20 20">
                <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
            </svg>
            <svg class="fill-gray-900 hover:fill-white hidden dark:block" fill="currentColor" viewBox="0 0 20 20">
                <path
                    d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                    fill-rule="evenodd" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
      </div>
      <button class="md:hidden focus:outline-none" (click)="toggleMobileMenu()">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
    <div *ngIf="isMobileMenuOpen" class="md:hidden bg-green-700 text-white dark:text-black space-y-2 p-4 text-xl ">
      <a routerLink="/applications" class="block hover:text-gray-300 ">Applications</a>
      <a routerLink="/vacancies" class="block hover:text-gray-300">Vacancies</a>
      <a routerLink="/login" class="block hover:text-gray-300">Login</a>
      <a routerLink="/signup" class="block hover:text-gray-300">Signup</a>
      <a routerLink="/profile" class="block hover:text-gray-300">Profile</a>
    </div>
    
  </nav>
  