<div class="bg-gray-900 text-white">
    <header class="relative">
     <img alt="A soldier in military gear" class="w-full h-screen object-cover opacity-50" height="1080" src="assets/IndianArmy.png" width="1920"/>
     <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-center px-4">
      
      <div class="mt-20">
       <p class="text-yellow-500 tracking-widest mb-4">
        INDIAN ARMY
       </p>
       <h1 class="text-5xl md:text-6xl font-bold mb-4">
        We Are The Strong
        <span class="text-yellow-500">
         Military
        </span>
       </h1>
       <p class="text-lg md:text-xl mb-8">
        In the Indian Army, you're not just wearing a uniform; you're wearing the pride of a billion hearts </p>
       
      </div>
     </div>
    </header>
</div>
